.contenedor {
    background-color: #E8E8E8;
    height: 100%;
}

.contenedorTarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;    
}

.titulo {
    text-align: center;
    padding: 0;
}